.profile-card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* По умолчанию 3 карточки в строке */
  grid-gap: 16px; /* Зазор между карточками */
}

@media (max-width: 992px) {
  .profile-card-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Адаптация для маленьких экранов (например, мобильные устройства) - 1 карточка */
@media (max-width: 600px) {
  .profile-card-container {
    grid-template-columns: 1fr;
  }
}
